.scripts-debug-toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--sys-color-cdt-base);
  border-bottom: 1px solid var(--sys-color-divider);
  overflow: hidden;
  z-index: 1;
}

.scripts-debug-toolbar-drawer {
  flex: 0 0 52px;
  transition: margin-top 0.1s ease-in-out;
  margin-top: -26px;
  padding-top: 25px;
  background-color: var(--color-background);
  overflow: hidden;
  white-space: nowrap;
}

.scripts-debug-toolbar-drawer.expanded {
  margin-top: 0;
}

.scripts-debug-toolbar-drawer > [is="dt-checkbox"] {
  display: none;
  padding-left: 3px;
  height: 28px;
}

.scripts-debug-toolbar-drawer.expanded > [is="dt-checkbox"] {
  display: flex;
}

.cursor-auto {
  cursor: auto;
}

.navigator-tabbed-pane {
  background-color: var(--color-background-elevation-1);
}
